#===========================================
# Author: Francis Varga
# eMail: francis.varga@varga-multimedia.com
# Blog: http://varga-multimedia.com
#===========================================
#
# This is my .gitconfig file
#
# Did you have question ask me ;)...
[core]
    symlinks = false
    autocrlf = input
 
[color]
    diff = auto
    branch = auto
    status = auto
 
[alias]
	#Show ur status of ur current 
    st = status
    d = diff
    ca = commit -avm
	# CheckOut a branch
    co = checkout
	#Cherry Pick is one of the powerfullest tool ever
    cp = cherry-pick
	
	# +++++++++++ Works ONLY with Git 1.7.2 +++++++++++
	# I doesn't NEED A GUI if i used this pretty log output its FASTER and i can read it nice ASCII visualization!!!
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    # +++++++++++ Works ONLY with Git 1.7.2 +++++++++++
	
	ll = log -p
    lt = log trunk..
    llt = log -p trunk..
    lm = log master..
    llm = log -p master..
    b = branch
	
	# +++++ SPECIAL ONLY FOR ME +++++
	# Initialize my git reproo create README.md as default added my Core as Submodule and initialize it!!!!
	# TODO: Create a Template README.md :)
    start = !sh -c 'git init && echo +++ Initial Git Repository +++ && touch README.md && git add ./ && echo +++ Add now BasiCore +++ && git ads git@git.basinet:as3basicore/as3basicore.git libs/basiCore && echo +++ Go to Core Folder +++ && cd libs/basiCore && echo +++ init BasiCore +++ && git initsub && echo +++ PROJEKT INITIALIZE +++'
	# +++++ SPECIAL ONLY FOR ME +++++
	
	# shortcut for push to origin master the default push
	pom = push origin master
	#add submodule
    ads = submodule add
	# update AND initialize the submodules
	initsub = !sh -c 'git submodule update && git submodule update --init'
	# Add remote server for pushing
    redor = remote add origin
	# Show all the logs
    verbose = !sh -c 'git log && git st'
	#This will create a backup commit u can use a bash to trigger it every 6PM so u can't forget ur daily backup :)
 	bup = !sh -c 'echo +++ Init Backup +++ && git aa && echo +++ All files Added +++ && git commit -a --status'
	aa = add -v ./
	
[pack]
    packSizeLimit = 2g

[help]
    format = html

[http]
    sslCAinfo = /bin/curl-ca-bundle.crt

[user]
    name = FrancisVarga
    email = github@varga-net.com

[achievement]
    upload = true
