[submodule ".vim-extras/vim-fuzzy-file-finder"]
	path = .vim-extras/vim-fuzzy-file-finder
	url = git://github.com/jamis/fuzzy_file_finder.git
[submodule ".vim-extras/vim-rails"]
	path = .vim-extras/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim-extras/vim-fuzzy-file-finder-textmate"]
	path = .vim-extras/vim-fuzzy-file-finder-textmate
	url = git://github.com/jamis/fuzzyfinder_textmate.git
[submodule ".vim-extras/nerdtree"]
	path = .vim-extras/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
